.catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.catalogo img {
    width: 200px; /* Ancho de las imágenes */
    height: 200px; /* Altura de las imágenes */
    margin: 10px; /* Espacio alrededor de las imágenes */
    object-fit: cover; /* Para que las imágenes se ajusten al tamaño especificado */
}