/*tipografias*/
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Shadows+Into+Light&family=Tenor+Sans&display=swap');

/*global*/
* { 
    font-family: 'Tenor Sans', Tahoma, 'Geneva', Verdana, sans-serif; 
     
        
}


body {

    margin: 0%;
    background-color: lightgoldenrodyellow  
}


.ContenedorGrid {  /*Desktop*/  /* Grilla para el diseño de la web */
    width: 100%;    
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, auto);

    grid-template-areas:    "H H H H"
                            "N N N N" 
                            "M M M M"
                            "A A A A"
                            "F F F F"; 
}


/*sub-titulos*/


header {
     
    grid-area: H; 
    background-color: black;
    text-align: center;
    margin-bottom: -25px;
    
}



h1 a { 
    
    font-family: 'Shadows Into Light', sans-serif;
    font-size: 50pt;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-decoration: none;
    
    
   
}

#Seccion_1 h2 {
    color: wheat;
    background-color: rgb(0, 0, 0);
    padding: 10px;
    margin: 50px;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
    border-radius: 5px;

}



/*navegación*/
nav {
    background-color: rgb(0, 0, 0);
    grid-area: N;
    z-index: 2;
    
   
}


.FlexboxNav1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    align-items: center;
    list-style-type: none;
    
    
    
    
}

/* .Nav1 {
    background-color: rgb(95, 17, 63);    
    color: rgb(139, 0, 0);
    text-decoration: none;
    display: flex;
    margin-right: 40px;
    
    
}

.Nav1:hover {
    background-color: rgb(112, 230, 157);
    color: rgb(29, 6, 66);  
    
} */

.FlexboxNav1_1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around; 
    align-items: center; 
    list-style-type: none; 
    position: absolute;
}

.Nav1_1 {
    background-color: lightcoral;    
    color: rgb(2, 0, 0);
    text-decoration: none;
    display: block;
    flex-grow: 1;
    flex-shrink: 1;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;  
    border-radius: 2px;  
    min-width: 100px;
    text-align: right;
    
}

.Nav1_1:hover {
    background-color: black;
    color: wheat;  
    
}

.FlexboxNav1_1 {
    display: none;
    
}

nav ul li:hover > ul {
    display: block;
    place-items: inherit;
    
    
}


.Nav1 {
    height: 20px;
    background-color: rgb(0, 0, 0);    
    color: wheat;
    font-weight: bolder;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    
    
}

.Nav1:hover {
    background-color: lightcoral;
    color: rgb(0, 0, 0); 
    

}



#Bloque_principal {
    grid-area: M;
    
}

section #P1 {
    
    margin: 50px;
    
    
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;


}

 section #P2 {

    margin: 50px;
    grid-area: A;
    text-align: justify;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 23px;

}

#Seccion_2 h3 {
    color: wheat;
    background-color: lightcoral;
    padding: 10px;
    margin: 20px;
    width: 290px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}



/*footer*/
footer {
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    margin: 0px;
    grid-area: F;
   
   
}


  .social-icons a {
    color: #fff;
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
  }

footer small {
    padding-top: 100px;
}

/*CATÁLOGO*/

.ContenedorGridCATALOGO {  
    width: 100%;    
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, auto);

    grid-template-areas:    "H H H H"
                            "N N N N" 
                            "A M M M"
                            "A M M M"
                            "F F F F"; 
}

#Bloque_principal2 h2 {
    grid-area: A;
    color: wheat;
    background-color: lightcoral;
    padding: 10px;
    margin: 20px;
    width: 290px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    position: -ms-page;
}

.catalogo {
    margin: 15px;
    grid-area: M;
    z-index: 1;
    

}


.catalogo img {
    max-width: 300px;
    margin-left: 15px;
    margin-bottom: 50px;
    
}




aside #menu_secundario {
    width: 310px;
    font-size: 15px;
    margin-left: 20px;
    margin-top: -20px;
    position: -ms-page;
    
    
}


.FlexboxNav2 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex-wrap:inherit ;
    align-items: normal;    
    
}

.Nav2 {
    background-color: rgb(0, 0, 0);
    color: wheat;
    text-decoration: none;
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    padding: 10px;
    
    
    
}

.Nav2:hover {
    background-color: lightcoral;
    color: wheat; 
    
    
}

.catalogo img {
    
    transition: filter 0.5s; 
}

.catalogo img:hover {
    filter: brightness(20%);
    
}



.catalogo {
    position: relative;
    text-align: center;
  }
  
  .cat.zoomed {
    transform: scale(1.5);
  }
  

 /*contactanos*/

#body_contactanos{
    background-color: black;
}
  #Bloque_principal3 {
    color: rgb(253, 253, 253);
}

#texto-sobre-imagen {
    text-align: center;
   
}

#Seccion_contactanos {
    text-align: center;
    z-index: 1;
    
}

#Seccion_contactanos h2,
#Seccion_contactanos h3,
#Seccion_contactanos h4 {
    
    margin-left: 140%;
    width:  110%;
    border-radius: 2%;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    padding: 7px;
    
    
}

#Seccion_contactanos h3 {
    background-color: #fff;
    color: black;
}

#lateral_contactanos img {
    
    display: block;
    border-radius: 200px;
    width: 90%;
    height: auto;
    left: 150%;
    
    
}

/*carrusel*/

  
body div img {
    position: relative; 
    overflow: hidden; 
}

body div img  {
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
    height: 300px; /* Establece la altura de la imagen a 300px */
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
}

   
  .carousel-slide {
    display: none;
  }
/* 2 */

main div img {
    position: relative; 
    overflow: hidden; 
}

main div img  {
    width: 100%; /* Establece el ancho de la imagen al 100% del contenedor */
    height: 300px; /* Establece la altura de la imagen a 300px */
    object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
}

   
  .carousel-slide {
    display: none;
  }

  /* galeria */

  .image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.image-card {
    margin: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.image-card:hover {
    transform: scale(1.1);
    
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    align-items: center;
    
    
}

#zoom-container {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    z-index: 3;
    
}

#zoomed-image {
    width: 90%;
    height: 100%;
    object-fit: contain;
    margin-left: 9%;
    
    
   
   
}

/*Usuario*/

#Seccion_usu h2 {
    color: rgb(245, 245, 245);
    background-color: rgb(218, 115, 115);
    padding: 10px;
    margin: 20px;
    margin-bottom: 5px;
    width: 290px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    
}

#lateral_usuario img {
    border-radius: 500px;
    height: auto;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 5px;
    

}


/*PUNTOS*/




#Bloque_principal4 {
    
    color: rgb(0, 0, 0);
    background-color: rgba(240, 128, 128, 0.863);
    padding: 0px;
    height: auto;
    margin: 20px;
    border-radius: 9px;
    text-align-last: center;
    grid-area: M;
    
}


/*usuario nav*/


 #lateral_usuario {
    width: 310px;
    font-size: 15px;
    margin-left: 20px;
    margin-top: -20px;
    position: -ms-page;
    
}



.FlexboxNav3 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    flex-wrap:inherit ;
    align-items: normal; 
    padding: 10px;
    margin-bottom: 10px; 
    
}

.Nav3 {
    background-color: rgb(0, 0, 0);
    color: wheat;
    text-decoration: none;
    display: inline-block;
    flex-grow: 1;
    flex-shrink: 1;
    text-align: center;
    padding: 10px;
    
    
}

.Nav3:hover {
    background-color: lightcoral;
    color: wheat; 
    
    
}

/* Compras */
#bloque_principalComp {
    grid-area: M;
    margin: 20px;
}

#seccionComp #h21 {

   text-align: center;
   background-color: lightcoral;
   
   
}

  /*** DISEÑO RESPONSIVE ***/

@media screen and (max-width: 900px) and (min-width: 551px) { /*Tablet*/
    .ContenedorGrid {        
        grid-template-columns: repeat(3, 33.3%);
        grid-template-rows: repeat(5, auto);

        grid-template-areas:    "H H H"
                                "N N N"
                                "M M M"                                                                
                                "A A A"
                                "F F F";
    }
}

@media screen and (max-width: 550px) {  /*smartphone*/
    .ContenedorGrid {        
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, auto);

        grid-template-areas:    "H H"
                                "N N"
                                "M M"
                                "A A"                                
                                "F F"; 
    }
}

@media screen and (max-width: 900px) and (min-width: 551px) { /*Tablet*/
    .ContenedorGridCATALOGO {        
        grid-template-columns: repeat(3, 33.3%);
        grid-template-rows: repeat(5, auto);

        grid-template-areas:    "H H H"
                                "N N N"
                                "A M M"                                                                
                                "A M M"
                                "F F F";
    }
}

@media screen and (max-width: 550px) {  /*smartphone*/
    .ContenedorGridCATALOGO {        
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, auto);

        grid-template-areas:    "H H"
                                "N N"
                                "A A"
                                "M M"                                
                                "F F"; 
    }
}

/*tabla*/
main {
    align-items: center;
}
#seccion1 {
    grid-area: S1;
    text-align: center;
}

table { 
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif; 
    font-size: 14px; 
    margin: auto; 
    width: 600px;
    text-align: center; 
    border-collapse: collapse; 
    align-items: center;
}

th { 
    font-size: 16px; 
    font-weight: normal; 
    padding: 8px; 
    background: lightcoral; 
    border-top: 4px solid lightcoral; 
    border-bottom: 1px solid #fff; 
    color: rgb(255, 255, 255); 
} 

td { 
    padding: 8px; 
    background: #000000; 
    border-bottom: 1px solid #fff; 
    color: rgb(255, 255, 255); 
    border-top: 1px solid transparent; 
}

tr:hover td { 
    background: lightblue; 
    color: black; 
}

.editar {
    color: darkblue; 
    cursor:pointer;
}

article {
    text-align: center;
    margin-left: 45px; 
    font-size:12px;
}

h3 {
    text-align: left;
} 

#resultadoenvio {
    text-align: left;
    margin-left: 45px; 
    font-size:12px;
}

.boton {   
    color: black; 
    padding: 5px; 
    margin: 10px;  
    background-color: #b9c9fe;  
    font-weight: bold; 
} 